<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>3 - 多重组件</title>
	<script type="text/javascript" src="../Lib/react/react.js"></script>
	<script type="text/javascript" src="../Lib/react/react-dom.js"></script>
	<script type="text/javascript" src="../Lib/react/browser.min.js"></script>
</head>
<body>
	<div id="container"></div>

	<script type="text/babel">
		var HelloWorld = React.createClass({
			render: function() {
				return (
					<div>
						<p>Hello, world</p>
						<MyInput/>
						<MyButton/>
					</div>
				);
			}
		});
		var MyButton = React.createClass({
			render: function() {
				return <button>我是按钮</button>
			}
		});
		var MyInput = React.createClass({
			render: function() {
				return <input type="text" placeholder="我觉得我应该说点什么" />
			}
		});
		ReactDOM.render(
			<HelloWorld/>,
			document.getElementById('container')
		);
	</script>
</body>
</html>